ing{
    width: 400px;
}
h1{
    background: lightskyblue;
    color: yellow;
}
a{
    color: yellow;
}
p{
    background: antiquewhite;color: brown;
}
ul
li{
    background: lightsteelblue;color: darkblue;
}